.App-header {
  background: linear-gradient(90deg, #b8e5fd, #61a5fa);
}

.site-layout-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.site-content-card {
  margin: 24px;
  border-radius: 8px;
  width: 60%;
  min-width: 550px;
}

.container-picker {
  display: flex;
  justify-content: space-around;
}

.picker {
  border-color: #808080;
  min-width: 45%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.component {
  padding: 10px;
  box-sizing: border-box;
}

.location-list {
  width: 75%;
}

.weather-image {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.traffic-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1000px) {
  .component {
    width: 100%;
  }
}

.display-list-only .location-list {
  width: 100%;
}
